.search-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-input{
    padding: 10px 15px;
    font-size: 18px;
    width: 350px;
    text-align: center;
    border-width: 0;
    background: #D19AC9;
    color: #e7e9f0;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.search-input::placeholder{
    color: #323337;
    opacity: .6;
}

.search-input:focus{
    outline: none;
}